.btn-custom {
  color: var(--orange);
  background-color: transparent;
  border: 1px solid var(--orange);
  border-radius: 4px;
  padding: 1rem 1.25rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
  &:hover {
    background-color: var(--lightWhite);
    outline: none;
  }
}
